{% extends "v3/base.html" %} {% block title %}{{ asset_class.name }}{% endblock
%} {% block head %} {{ super() }}
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %} {% macro safe_show_attr(x) %} {% if x is none or not x|length %}
NA {% else %} {{ x }} {% endif %} {% endmacro %} {%block content %}
<div class="container">
  <div class="row align-items-center">
    <div class="col-6">
      <h2>{{ asset_class.name }} (version: {{asset_class.version}})</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-12">
      <p>
        Description:
        <i>{{ asset_class.description }}</i>
      </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-8">
      <h3>Seek keys</h3>
      <ul>
        {% for key, value in asset_class.seek_keys.items() %}
        <li>{{key}}: <code>{{value}}</code></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      <h3>API endpoints</h3>
      <ul>
        {% for id, path in links_dict.items() %}
        <li>
          <a href="{{ path }}?tag={{ tag|urlencode }}">{{ id }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
  </div>
</div>
