<!doctype html>
<html>
	<head>
	{% block head %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
		<link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', path='/refgenie.ico') }}">
		<title>refgenie server - {% block title %}{% endblock %}</title>
	{% endblock %}
	</head>

	{% include "navbar.html" %}
	<div id="main">
		<body>
			<div class="divider-12"></div>
				{% block body %}{% endblock %}
				{% block content %}{% endblock %}
		</body>
	</div>
	<hr class="featurette-divider">
	<footer class="text-muted">
		{% include "footer.html" %}
	</footer>

</html>