<div class="wrapper">
	<div class="left_footer">
		<code>refgenieserver</code> v{{version}}
	</div>
	<div class="center_footer">
		<a href="http://refgenie.databio.org/" target="_blank" style="color:#616161"><i class="fa fa-2x fa-book" aria-hidden="true"></i></a>
		<a href="https://github.com/databio/refgenie_server" target="_blank" style="color:#616161"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
	</div>
	<div class="right_footer">
		&copy; 2019 <a href="http://databio.org/" target="_new">Sheffield Computational Biology Lab</a>
	</div>
</div>