<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/index">
		<img src="/static/refgenie_logo.svg" alt="refgenie server" width="180" height="45">
	</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="/v2/genomes"><b>Genomes</b></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/v2/assets"><b>Assets</b></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/docs"><b>API documentation</b></a>
			</li>
		</ul>
		<a class="nav-link" href="http://refgenie.databio.org/" target="_blank"><i class="fa fa-2x fa-book" aria-hidden="true"></i></a>
		<a class="nav-link" href="https://github.com/databio/refgenie_server" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
	</div>
</div>
</nav>