<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/index">
		<img src="/static/refgenie_logo.svg" alt="refgenie server" width="180" height="45">
	</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="/genomes">Genomes</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/assets">Assets</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/docs">API documentation</a>
			</li>
		</ul>
	</div>
</div>
</nav>